*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color:whitesmoke;
    padding: 10px;
}


nav a{
    color:plum;
    padding: 10px;
    display: block;
}

h1{
    color: blueviolet;
}



aside{
    width: auto;
    margin: 2%;
    border: 2cm;
    padding: 10px;
    background-color:white;
    color: mediumpurple;
    text-align: center;
}
aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}
aside img{
    width: 200px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
    float: right;
}

p{
    padding: 0;
    color: darkslategrey;
}
footer{
    margin-top: auto;
    border-top: 60ch;
    text-align: center;
}


/*  Class Selectors*/

.box{
    margin: 1rem;
    border: 0ch;
    padding: 1rem;
    color: darkolivegreen;
    background-color: grey;
}










