nav{
    background-color:whitesmoke;
    padding: 10px;
}


nav a{
    color:plum;
    padding: 10px;
    display: block;
}

h1{
    color: blueviolet;
}



aside{
    width: auto;
    margin: 2%;
    border: 2cm;
    padding: 10px;
    background-color:white;
    color: mediumpurple;

}
aside img{
    width: 200px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
}

p{
    padding: 0;
    color: darkslategrey;
}
footer{
    margin-top: auto;
    border-top: 60ch;
    text-align: center;
}




